name: (self-hosted) Build and Test Apple Silicon wheels

on: workflow_dispatch

jobs:
  build_wheels:
    runs-on: [self-hosted, macOS, ARM64]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
    
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
    
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade nox
          python -m pip install cibuildwheel==2.16.2
      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
          # to supply options, put them in 'env', like:
        env:
          CIBW_BUILD: cp310-macosx_arm64 cp311-macosx_arm64 cp312-macosx_arm64 cp313-macosx_arm64
          CIBW_ARCHS: arm64

      - name: Test wheels
        run: python -m nox --sessions test_wheel
        
      - uses: actions/upload-artifact@v4
        with:
          name: wheel-macOS-ARM64
          path: ./wheelhouse/*.whl