name: (self-hosted) Build and Test manylinux wheels

on: workflow_dispatch

jobs:
    build_wheels:
      name: Build wheels on manylinux
      runs-on: [self-hosted, Ubuntu, Native]
  
      steps:
        - uses: actions/checkout@v4
  
        # Used to host cibuildwheel
        - uses: actions/setup-python@v5
          with:
            python-version: 3.10

        - name: Install cibuildwheel
          run: python -m pip install cibuildwheel==2.16.2
  
        - name: Build wheels
          run: python -m cibuildwheel --output-dir wheelhouse
          env:
            CIBW_BUILD: cp310-manylinux_x86_64 cp311-manylinux_x86_64 cp312-manylinux_x86_64 cp313-manylinux_x86_64
          # to supply options, put them in 'env', like:
          # env:
          #   CIBW_SOME_OPTION: value
  
        - uses: actions/upload-artifact@v4
          with:
            name: wheel-manylinux
            path: ./wheelhouse/*.whl