name: Test - Nightly
# does a massive check, every night

on:
  schedule:
    - cron: "0 23 * * *"

  # creates a button
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug

jobs:

  test_on_ubuntu_container:
    runs-on: [self-hosted, Ubuntu, Docker]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.9
            3.10
            3.11
            3.12
            3.13
      - name: Run Nox Quick-Tests
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade nox
          python -m pip install cibuildwheel==2.21.3
          python -m nox --sessions test_source clear_wheelhouse build_wheel build_sdist test_wheel
        env:
          LOG_LEVEL: ${{ github.event.inputs.logLevel }}
      - name: Upload Coverage
        uses: codecov/codecov-action@v3
        with:
          files: coverage.xml # optional
          flags: pytests # optional
          fail_ci_if_error: false # optional (default = false)
          verbose: true # optional (default = false)

  test_on_windows:
    runs-on: [self-hosted, Windows, X64]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.10
            3.11
            3.12
            3.13
      - name: Run Nox Quick-Tests
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade nox
          python -m pip install cibuildwheel==2.21.3
          python -m pip install setuptools==73.0.1
          python -m nox --sessions test_source clear_wheelhouse build_wheel build_sdist test_wheel
        env:
          LOG_LEVEL: ${{ github.event.inputs.logLevel }}
      - name: Upload Coverage
        uses: codecov/codecov-action@v3
        with:
          files: coverage.xml # optional
          flags: pytests # optional
          fail_ci_if_error: false # optional (default = false)
          verbose: true # optional (default = false)

  test_on_macos:
    runs-on: [self-hosted, macOS, ARM64]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.9
            3.10
            3.11
            3.12
            3.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade nox
          python -m pip install cibuildwheel==2.21.3
          python -m pip install setuptools==73.0.1
      - name: Run Nox Quick-Tests
        run: |
          python -m nox --sessions test_source clear_wheelhouse
        env:
          LOG_LEVEL: ${{ github.event.inputs.logLevel }}
      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
          # to supply options, put them in 'env', like:
        env:
          CIBW_BUILD: cp310-macosx_arm64 cp311-macosx_arm64 cp312-macosx_arm64 cp313-macosx_arm64
          CIBW_ARCHS: arm64
          MACOSX_DEPLOYMENT_TARGET: "14.0"

      - name: Test wheels
        run: python -m nox --sessions test_wheel